/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
    outline: 1px dotted black;
}

/* Doodle Stage */
#stage {
  background: #ccc;
  height: 300px;
  width: 600px;
}