/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
    outline: 1px dotted black;
}


body {
  background: url(img/coffee.png);
}

body {
  background: url(../img/coffee.png);
}